body
{
    background-image: url("battleship-assets/ocean.jpg");   
    background-size: cover;
    margin: 10px !important;
}

.header > img
{
    width: 350px;
    height: 350px;
    align-items: center;
}

.h1
{
    font-weight: bold !important;
    font-size: x-large !important;
    padding: 20px;
}

.field
{
    background-color: gray;
}

.field > img {
    max-width:100%;
}

table
{
    text-align: center !important;
    user-select: none !important;
}

td
{
    width: 50px !important;
    height: 50px !important;
    padding: 12px !important;
}

.countTable
{
    font-size: 35px;
    font-weight: bold;
    user-select: none; 
}


#player
{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

h1
{
    padding: 20px;
}

.btn
{
    min-width: 60px !important;
}

.names
{
    padding-top: 30px !important;
}